/* FONT CSS IMPORT START */
/* raleway thin - 100; raleway medium - 500; raleway semibold - 600; raleway black - 900 */
/* font-family: 'Raleway', sans-serif; */
/* @import url('https://fonts.googleapis.com/css?family=Raleway:100,500,600,900'); */

/* robot light - 300; roboto regular - 400; roboto black - 900 */
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

/* font-family:'Helvetica', sans-serif; */
/* FONT CSS IMPORT END */

/* GENERAL CSS RULES && UTILITY CLASSES START */
html {
  overflow-x:hidden;
}

.visually-hidden, .field--label {
  display:none;
}

.js-scroll-to-top {
  position:fixed;
  display:none;
  z-index:10000;
  right:30px;
  bottom:30px;
  color:#eeb111;
  background-color:#333333;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  font-size:24px;
  line-height:50px;
  padding:0px 15px;
  opacity:.5;
  transition:all .25s;
}

.js-scroll-to-top:hover {
  text-decoration:none;
  color:#eeb111;
  opacity:1;
}

.capital-case-heading {
  color:#000000;
  text-transform:uppercase;
  font-family:'Helvetica', sans-serif;
  font-weight:300;
}

.capital-case-heading span {
  font-size:.75em;
  font-family:'Helvetica', sans-serif;
  font-weight:500;
}
/* GENERAL CSS RULES && UTILITY CLASSES END */

/* POPOUT MENU START */
.popout-menu-open {
  height:45px;
  width:110px;
  padding:5px;
  position:fixed;
  top:200px;
  right:-60px;
  background-color:#882233;
  border-left:2px solid #000000;
  border-top:2px solid #000000;
  border-bottom:2px solid #000000;
  z-index:23943289;
  cursor:pointer;
}

.popout-menu-open img {
  height:33px;
  width:auto;
  cursor:inherit;
  float:left;
}

.popout-menu-open p {
  float:right;
  font-family:'Roboto', sans-serif;
  font-weight:300;
  margin:0;
  margin-top:1px;
  margin-right:5px;
  font-size:1.1em;
  color:#ffffff;
}

@media (max-width: 575px) {
  .popout-menu {
    width:100% !important;
  }
}

@media (max-height: 779px) {
  .popout-menu {
    height:100% !important;
    overflow-y:scroll !important;
  }
}

@media (min-height: 780px) {
  .popout-menu {
    height:780px !important;
    overflow-y:hidden !important;
  }
}

.popout-exit {
  color:#ffffff;
  opacity:.75;
  margin:0;
  padding:5px;
  padding-left:10px;
  font-size:1.25em !important;
}

.popout-exit:hover {
  opacity:1;
}

.popout-menu {
  display:none;
  position:fixed;
  width:400px;
  background-color:#ffffff;
  border-left:2px solid #882233;
  border-top:2px solid #882233;
  border-bottom:2px solid #882233;
  right:0;
  top:0;
  z-index:1020310230;
  overflow-x:hidden !important;
}

.gsc-input-box {
  height:32px !important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
  width:auto !important;
  height:auto !important;
  border-color:#474747;
  background-color:#474747;
  background-image:none;
  filter:none;
  border-radius:0 !important;
  margin-left:0px !important;
  margin-top:5px !important;
  padding:9px 20px !important;
}

.gsc-control-cse {
  padding-top:0px !important;
}

.gsc-input {
  padding-right:0px !important;
}

.popout-search, .popout-search > .col-12, .gsc-control-cse {
  background-color:#eeb111 !important;
  border:0 !important;
}

.popout-menu ul {
  list-style-type:none;
}

.popout-menu-middle {
  background-color:#BAB1B5;
}

.popout-menu-middle a, .popout-menu-middle a:hover {
  color:#000000;
  text-decoration:none;
}

.popout-menu-middle h6 {
  color:#882233;
  margin:10px 20px;
}

.popout-menu-social {
  background-color:#F1F1F1;
}

.popout-menu-social a {
  color:#000000;
  transition:all .25s;
  -o-transition:all .25s;
  -moz-transition:all .25s;
  -webkit-transition:all .25s;
}

.popout-menu-social a:hover {
  color:#eeb111;
}

.popout-menu-social i {
  color:inherit;
  font-size:1.35em;
  padding:10px 5px;
}

.popout-menu-main-navigation {
  margin-left:0px;
  margin-right:0px;
  padding:0px 20px;
}

.popout-menu-main-navigation li {
  margin:3px 0px;
}

.popout-menu-main-navigation a {
  display:inline-block;
  width:100%;
}

.popout-menu-main-navigation a, .popout-menu-main-navigation a::after {
  color:#7A7A7A;
  text-transform:uppercase;
  font-family:'Roboto', sans-serif;
  font-weight:500;
  font-size:1.05em;
}

.popout-menu-main-navigation a:hover {
  color:#7A7A7A;
  text-decoration:none;
}

.popout-menu-main-navigation a::after {
  content:">";
  float:right;
}

.popout-menu-button-list {
  margin-left:0px;
  margin-right:0px;
  padding:0px 15px;
}

.popout-menu-button-list li {
  margin:10px 0px;
}

.popout-menu-button {
  text-align:center;
  font-size:1.1em;
  font-family:'Roboto', sans-serif;
  font-weight:500;
  color:#ffffff;
  background-color:#882233;
  width:100%;
  padding:10px 0px;
  display:inline-block;
}

.popout-menu-button:hover {
  color:#ffffff;
  text-decoration:none;
}

.popout-menu-button-yellow, .popout-menu-button-yellow:hover {
  color:#882233 !important;
  background-color:#eeb111 !important;
}
/* POPOUT MENU END */

/* EVENT CAROUSEL START */
.eventCarousel {
  background-image:url(../images/eventCarouselBackground.jpg);
  background-size:cover;
  background-position:top center;
  /*padding-top:60px;
  padding-bottom:30px;*/
  padding:0 !important;
}

.eventCarousel div.eventCard {
  padding:10px;
  background-color:#eeb111;
  color:#ffffff;
  opacity:.85;
}

.eventCarousel div.eventCard h2, .eventCarousel div.eventCard h5, .eventCarousel div.eventCard h3 {
  font-family:'AvenirLTStd-Heavy', sans-serif;
  /* font-family:'Raleway', sans-serif;
  font-weight:600; */
  text-transform:uppercase;
  opacity:.9;
}

.eventCarousel div.eventCard p {
  font-family:'Roboto', sans-serif;
  font-weight:300;
  margin:0;
  padding:0;
  opacity:.9;
}

.eventCarousel div.eventCard .dateSpan p {
  text-transform:uppercase;
  text-align:center;
}
.eventCarousel div.eventCard .dateSpan {
  overflow:auto;
  margin-bottom:10px;
}

.eventCarousel div.eventCard .dateSpan .startDate { float:left; }
.eventCarousel div.eventCard .dateSpan .dateDivider {
  float:left;
  margin:20px 15px;
}
.eventCarousel div.eventCard .dateSpan .dateDivider p { font-weight:900; }
.eventCarousel div.eventCard .dateSpan .endDate { float:left; }
.eventCarousel div.eventCard .dateSpan .endDate p { font-size:.8em; }

.eventCarousel div.eventCard .eventInformation p {
  font-size:.85em;
}

.owl-nav div {
  background-color:#eeb111 !important;
}

@media (max-width: 767px) {
  .eventCarousel div.eventCard {
    opacity:1 !important;
  }

  .eventCarousel {
    padding-top:30px !important;
  }
}
/* EVENT CAROUSEL END */

/* CLASSY PARAGRAPHS STYLES START */
@media (max-width: 576px) {
  .expand-pic-quote > div > div p, .embrace-pic-quote > div > div p, .engage-pic-quote > div > div p {
    font-size:.95em;
  }
}

.expandEmbraceEngageCards {
  margin-top:50px;
}

.expand-pic-quote { background-image:url('../images/expand.jpg'); }
.embrace-pic-quote { background-image:url('../images/embrace.jpg'); }
.engage-pic-quote { background-image:url('../images/engage.jpg'); }

.expand-pic-quote, .embrace-pic-quote, .engage-pic-quote {
  height:360px;
  width:360px;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
}

.expand-pic-quote > div, .embrace-pic-quote > div, .engage-pic-quote > div {
  width:100%;
  height:100%;
  background-color:#333333;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  padding:20px;
  margin:0px auto;
  opacity:0;
  transition:all .5s;
  -o-transition:all .5s;
  -moz-transition:all .5s;
  -webkit-transition:all .5s;
}

.expand-pic-quote > div:hover, .embrace-pic-quote > div:hover, .engage-pic-quote > div:hover {
  opacity:.85;
}

.expand-pic-quote > div > div, .embrace-pic-quote > div > div, .engage-pic-quote > div > div {
  width:100%;
  height:100%;
  color:white;
  padding:25px;
  border:1px solid #ffffff;
  font-size:1em;
  border-radius:180px;
}

.expandEmbraceEngageBehind {
  background-color:#882233;
  height:140px;
  position:absolute;
  z-index:-1;
  top:400px;
}

.simple_cards p {
  font-family:'Roboto', sans-serif;
  font-weight:300;
  font-size:14px;
  line-height:24px;
  color:#777777;
}

.simple_cards h2 {
  color:#323232;
  font-family:'AvenirLTStd-Black', sans-serif;
  /* font-family:'Raleway', sans-serif;
  font-weight:900; */
  font-size:32px;
  text-transform:uppercase;
  margin-bottom:10px;
}

.js-parallax-img div:first-child {
  min-height:300px;
  background:transparent;
}

.parallax-lg-height div:first-child {
  min-height:400px !important;
}

.js-student-step i {
  color:#eeb111;
  font-size:48px;
  line-height:48px;
  background-color:#FDF7E5;
  border:1px solid #ffffff;
  width:80px;
  height:80px;
  border-radius:48px;
  padding:15px;
  display:inline-block;
  transition:all .5s;
}

.js-student-step i:hover {
  background-color:#ffffff;
  border-color:#eeb111;
}

.js-student-step p, .js-student-step h2 {
  text-align:center;
  font-family:'AvenirLTStd-Light', sans-serif;
  text-transform:uppercase;
}

.js-student-step {
  padding:45px 0px;
  border-bottom:2px solid #eaeaea;
}

.margin-top, .eventCarousel {
  margin-top:120px;
}

.less-margin-top {
  margin-top:50px;
}

.recent-news-more-news {
  text-transform:uppercase;
  font-family:'Roboto', sans-serif;
  font-weight:700;
  font-size:42px;
  line-height:48px;
  color:inherit;
  text-decoration:none;
  transition:all .25s;
}

@media (max-width: 576px) {
  .all-aboard-top {
    background-image:none !important;
  }
}

.all-aboard-top {
  background-image:url(../images/all-aboard.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;
  margin-bottom:30px;
}

.js-home-recent-news h2, .all-aboard-top h2, .eventCarouselHeading h2 {
  font-family:'Helvetica', sans-serif;
  font-weight:900;
  font-size:40px;
  line-height:44px;
  color:#333333;
  text-transform:uppercase;
  text-align:center;
}

.all-aboard-top h2 {
  padding:40px 0px;
}

.js-home-recent-news h2 {
  padding-bottom:35px;
  margin-bottom:50px;
  border-bottom:1px solid #d3d3d1;
}

.all-aboard-top p { margin-bottom:50px; }

.recent-news-more-news:hover {
  color:#eeb111;
  text-decoration:none;
}

.js-location-map {
  text-align:center;
  background-color:#882233;
}

.js-location-map > div {
  padding:0 !important;
  padding-bottom:30px !important;
}

@media (max-width:576px) {
  .js-location-map h2, .js-location-map i {
    font-size:30px !important;
    display:block !important;
  }
}

.js-location-map h2, .js-location-map i {
  margin:0;
  font-size:40px;
  font-weight:300;
  color:#ffffff;
  cursor:pointer;
}

.js-location-map iframe {
  opacity:.85 !important;
}

.js-location-map i { display:none; }

.js-location-map h2 {
  text-transform:uppercase;
  font-family:'Roboto', sans-serif;
  padding-top:30px;
}

.homepage-contact-form input[type="submit"] {
  float:right;
}

.homepage-contact-form input[type="text"], .homepage-contact-form textarea {
	background-color:transparent;
	border:1px solid #ddd;
	color:#777777;
	height:52px;
	padding:0;
	text-indent:20px;
	width:100%;
}

.homepage-contact-form textarea {
  margin-top:5px;
	text-indent:0;
	height:248px;
	padding:13px 20px 20px;
	resize:vertical;
	vertical-align:top;
}

.homepage-contact-form input[type="submit"] {
	background-color:transparent;
	border:1px solid #ddd;
	color:#777777;
	display:inline-block;
	margin-top:25px;
	padding:9px 29px;
	text-transform:uppercase;
  cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
	transition:all 0.3s ease-in-out 0s;
}

.homepage-contact-form input[type="submit"]:hover {
  background-color:#333333;
  color:#ffffff;
}

.all-aboard-content {
  margin-top:50px;
  padding-top:30px;
  padding-bottom:30px;
  background-color:#333333 !important;
}

.all-aboard-controls button {
	border:1px solid #ffffff;
  font-family:'Roboto', sans-serif;
  font-size:16px;
  font-weight:300;
	color:#777777;
  background-color:#ffffff;
  margin:5px 0px;
	display:block;
	font-size:16px;
	line-height:normal;
	padding:6px 12px;
	text-transform:uppercase;
  cursor:pointer;
  transition:all .25s;
}

.all-aboard-controls {
  padding-left:130px !important;
  padding-right:130px !important;
}

@media (max-width: 991px) {
  .all-aboard-controls {
    padding-left:0px !important;
    padding-right:0px !important;
  }
}

.all-aboard-controls button:hover {
  border-color:#d3d3d1;
}

.all-aboard-controls .active-filter {
  color:#eeb111;
  border-color:#eeb111 !important;
}

.all-aboard-video {
  padding-left:0px !important;
  padding-right:0px !important;
}

.all-aboard-video-controls {
  list-style-type:none;
  position:absolute;
  padding:0px;
  margin:0px;
  z-index:1000000;
  top:10px;
  right:10px;
  display:none;
}

.all-aboard-video-controls li {
  float:left;
  font-size:16px;
  line-height:16px;
  vertical-align:middle;
  text-align:center;
  padding:10px;
  margin:5px;
  background-color:#ffffff;
  border-radius:50px;
  cursor:pointer;
  transition:all .25s;
}
.all-aboard-video-controls li a {
  color:inherit !important;
  text-decoration:none;
}

.all-aboard-video-controls li:hover {
  background-color:#eeb111;
  color:#ffffff;
}

.all-aboard-title-desc-overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:#ffffff;
  opacity:.8;
}

.all-aboard-title-desc-overlay h3 {
  font-family:'Roboto', sans-serif;
  font-weight:900;
  padding:0;
  margin:0;
  text-align:center;
}
/* CLASSY PARAGRAPHS STYLES END */

/* WEBFORM CSS RULES START */
.bethelWebformSelector input[type="text"], .bethelWebformSelector textarea {
  background-color:#ffffff;
  border:1px solid #ddd;
  color:#777777;
  height:52px;
  padding:0;
  text-indent:20px;
  width:100%;
  font-family:'Roboto', sans-serif;
  font-size:14px;
  font-weight:300;
}

.bethelWebformSelector select {
  width:100%;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:url('select-arrow.jpg') no-repeat right #fff;
  background-color:#ffffff;
  font-family:'Roboto', sans-serif;
  font-weight:300;
  color:#777777;
  font-size:14px;
  line-height:50px;
  height:50px;
  border:1px solid #E5E5E5;
  /*border-radius:3px;*/
}

.bethelWebformSelector select option {
  background-color:#ffffff;
  font-family:'Roboto', sans-serif;
  font-weight:300;
  color:#333333;
}

.bethelWebformSelector label {
  color:#999999;
  font-family:'Roboto', sans-serif;
  font-weight:300;
  font-size:14px;
  line-height:26px;
  text-transform:uppercase;
  margin:0;
  margin-top:10px;
}

.bethelWebformSelector input[type="submit"] {
	background-color:#ffffff;
	border:1px solid #ddd;
	color:#777777;
	display:inline-block;
	padding:9px 29px;
	text-transform:uppercase;
  cursor:pointer;
  margin-top:10px;
  float:right;
	transition:all .25s;
}

.bethelWebformSelector input[type="submit"]:hover {
  background-color:#333333;
  color:#ffffff;
}

.bethelWebformSelector textarea {
  height:auto !important;
	text-indent:0;
	padding:13px 20px 20px;
	resize:vertical;
	vertical-align:top;
}

.bethelWebformSelector input[type="radio"] {
  background-color:#eeb111;
}

.bethelWebformSelector .js-form-type-radio label, .bethelWebformSelector .js-form-type-checkbox label {
  color:#999999;
  font-family:'Roboto', sans-serif;
  font-weight:700;
  font-size:14px;
  line-height:26px;
}

.bethelWebformSelector fieldset {
  background-color:#f9f9f9;
  /*border-radius:5px;*/
  margin:10px 0px;
  padding:0px 10px;
  padding-bottom:10px;
}

.bethelWebformSelector fieldset legend {
  font-family:'AvenirLTStd-Heavy', sans-serif;
  /* font-family:'Raleway', sans-serif;
  font-weight:500; */
  text-transform:uppercase;
  color:#eeb111;
  margin-bottom:0 !important;
}

.bethelWebformSelector fieldset fieldset { background-color:#f1f1f1; }
.bethelWebformSelector fieldset fieldset legend { color:#882233; }

.bethelWebformSelector fieldset fieldset fieldset { background-color:#f9f9f9; }
.bethelWebformSelector fieldset fieldset fieldset legend { color:#eeb111; }

.paragraph--type--bp-accordion a[data-toggle="collapse"] {
  color:#777777 !important;
  transition:color .25s;
  -webkit-transition:color .25s;
}

.paragraph--type--bp-accordion a.opened[data-toggle="collapse"] {
  color:#eeb111 !important;
}

.paragraph--type--bp-accordion a[data-toggle="collapse"]:hover {
  color:#eeb111 !important;
  text-decoration:none;
}

.paragraph--type--bp-accordion a[data-toggle="collapse"]:before {
  content:" +  ";
  color:#777777;
  transition:color .25s;
  -webkit-transition:color .25s;
}

.paragraph--type--bp-accordion a.opened[data-toggle="collapse"]:before {
  content:" -  ";
  color:#eeb111;
}

.paragraph--type--bp-accordion a[data-toggle="collapse"]:hover::before {
  color:#eeb111 !important;
  text-decoration:none;
}

.paragraph--type--bp-accordion .panel-heading {
  background-color:#ffffff;
  border-radius:0 !important;
}

.paragraph--type--bp-accordion .card-header {
  border-bottom:none;
  border-top:1px solid #DFDFDF;
}

.paragraph--type--bp-accordion .card {
  border:none !important;
  border-bottom:1px solid #DFDFDF !important;
}
/* WEBFORM CSS RULES END */

/* VIEWS CSS RULES START */
.preFooter-recentNews .views-row a { text-decoration:none; color:inherit; }
.preFooter-recentNews .views-row {
  background-color:#343436;
  padding:15px 20px;
  margin:5px 0px;
  color:#999999;
  transition:all .25s;
}
.preFooter-recentNews .views-row:hover {
  color:#ffffff;
  background-color:#eeb111;
}

.preFooter-recentNews .views-row .views-field-title {
  font-family:'AvenirLTStd-Heavy', sans-serif;
  /* font-family:'Raleway', sans-serif;
  font-weight:500; */
  font-size:15px;
  line-height:26px;
}

.preFooter-recentNews .views-row .views-field-created {
  font-family:'Roboto', sans-serif;
  font-size:13px;
  font-weight:500;
  line-height:26px;
}

.featured-news-tb-wrapper > div {
  height:360px;
  border:2px solid #ffffff;
  padding:20px;
}

.featured-news-tb-wrapper {
  padding:20px;
  text-align:center;
}

.featured-news-title {
  font-family:'Roboto', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  font-size:1.2em;
  color:#ffffff;
  margin-bottom:1em;
}

.featured-news-title a, .featured-news-title a:hover {
  color:inherit;
  text-decoration:none;
}

.featured-news-body {
  font-family:'Roboto', sans-serif;
  font-weight:300;
  font-size:.95em;
  color:#ffffff;
}

@media (max-width: 576px) {
  .featured-news-title {
    font-size:1.15em;
  }
  .featured-news-body {
    font-size:.9em;
  }
}

.featured-news-img-wrapper {
  height:400px;
  width:100%;
  padding:0 !important;
  background-color:#eeb111;
}

.featured-news-img-wrapper img {
  object-fit:cover;
  object-position:center;
  display:block;
  width:100%;
  height:100%;
}

.featured-news-img-wrapper > div {
  background-color:#eeb111;
  width:100%;
  height:100%;
}

.recent-headlines-homepage-title {
  width:100%;
  padding:5px 0px;
  border-bottom:1px solid #929292;
}

.recent-headlines-homepage-title h4 {
  color:#ffffff;
  font-weight:100;
  color:#5E5D5E;
  font-style:italic;
  margin:0;
}

.js-recent-headlines-homepage-footer {
  border-top:1px solid #CFCFCF;
  margin:10px 0px !important;
  margin-top:1px !important;
  padding:5px 5px;
}

.js-recent-headlines-homepage-footer .col-3, .js-recent-headlines-homepage-footer .col-12 {
  padding:0 !important;
}

.recent-headlines-authored {
  font-family:'Roboto', sans-serif;
  font-weight:300;
  text-transform:uppercase;
  color:#777777;
  font-size:.8em;
}

.recent-headlines-title {
  font-family:'Roboto', sans-serif;
  font-weight:900;
  text-transform:uppercase;
  font-size:.95em;
}

.js-recent-headlines-homepage-footer > .recent-headlines-title > a { color:#882233 !important; }

.recent-headlines-body {
  font-family:'Roboto', sans-serif;
  font-weight:300;
  color:#929292;
  font-size:.85em;
}

@media (max-width: 991px) {
  .recent-content-view-list-wrapper li {
    clear:both;
    width:100%;
    margin-top:0 !important;
  }

  .img-test {
    display:none;
  }
}
/* VIEWS CSS RULES END */

/* HEADER CSS RULES START */
@media (max-width: 575px) {
  .navbar-brand {
    max-width:70% !important;
  }

  .navbar-brand > img {
    max-width:100% !important;
  }

  .navbar .navbar-toggler {
    margin-top:10px;
    margin-bottom:10px;
    max-width:30% !important;
  }
}

@media (max-width: 991px) {
  .navbar > div {
    width:100%;
  }
  .navbar-brand > img {
    max-width:30%;
    padding-left:0 !important;
  }

  .navbar-light .collapse .navbar-nav > li:not(:last-child) {
    border-bottom:1px solid #c4c4c4;
  }

  .navbar-light .collapse .navbar-nav {
    padding-bottom:10px !important;
  }

  .navbar-light .collapse .navbar-nav > li > a.nav-link {
    padding:5px !important;
    line-height:32px !important;
    font-size:16px !important;
  }
  .navbar-light .navbar-collapse .navbar-nav > li > a.nav-link:hover {
    color:#000000 !important;
  }

  .navbar-light .collapse .navbar-nav > li.dropdown > ul {
    border:0 none;
    width:100% !important;
    padding-bottom:7px !important;
    padding-left:20px !important;
    padding-right:20px !important;
  }

  .navbar-light .collapse .navbar-nav > li.dropdown > ul > li, .dropdown .dropdown-menu .dropdown-submenu .dropdown-menu > li {
    background-color:#ffffff !important;
    width:100% !important;
  }

  .navbar-light .collapse .navbar-nav > li.dropdown > ul > li:not(:last-child), .dropdown .dropdown-menu .dropdown-submenu .dropdown-menu > li:not(:last-child) {
    border-bottom:1px solid #777777;
  }

  .navbar-light .collapse .navbar-nav > li.dropdown > ul > li > a.nav-link, .dropdown .dropdown-menu .dropdown-submenu .dropdown-menu > li > a.nav-link {
    color:#333333 !important;
    line-height:32px !important;
    font-size:16px !important;
  }

  .dropdown-menu {
    background-color:#ffffff !important;
  }

  .dropdown .dropdown-menu .dropdown-submenu .dropdown-menu {
    position:static !important;
    left:auto !important;
    top:auto !important;
    border:0 none !important;
    margin:0 !important;
    padding-left:30px !important;
    width:100% !important;
  }

  .separate_nav_cols {
    column-count:1 !important;
    -webkit-column-count:1 !important;
    -moz-column-count:1 !important;
    left:auto !important;
  }

  .dropdown-toggle::after {
    display:inline-block !important;
  }
}

@media (max-width: 1090px) {
  .navbar-light .collapse .navbar-nav > li > a.nav-link {
    padding-left:10px !important;
    padding-right:10px !important;
  }
}

.header-thresherConnectBar {
  background-color:#882233;
  overflow:auto;
}

.header-thresherConnectBar a {
  font-family:'AvenirLTStd-Heavy', sans-serif;
  /* font-family:'Raleway', sans-serif;
  font-weight:600; */
  font-size:12px;
  text-transform:uppercase;
  padding:5px;
  color:#ffffff;
}
.header-thresherConnectBar a:hover { color:#ffffff; }

.navbar {
  padding:0px 20px !important;
}

.navbar .navbar-toggler {
  float:right;
  margin-top:25px;
}

.navbar-brand > img {
  max-width:406px;
  max-height:80px;
  padding-left:5%;
}

.navbar-light .navbar-nav > li > a.nav-link {
	color:#5d5d5d !important;
  text-transform:uppercase;
  font-family:'AvenirLTStd-Medium', sans-serif;
  /* font-family:'Raleway', sans-serif;
  font-weight:600; */
  font-size:13px;
  line-height:100px;
  padding-left:20px !important;
  padding-right:20px !important;
  transition:all .25s;
}

.navbar-light .navbar-nav > li > a.nav-link:hover {
  color:#eeb111 !important;
}

.dropdown > .dropdown-menu, .dropdown .dropdown-menu .dropdown-submenu .dropdown-menu {
  background-color:#333333;
  border-radius:0;
  border:none;
  padding:0px;
  border-top:2px solid #eeb111;
}

.dropdown-toggle::after {
  display:none !important;
}

.separate_nav_cols {
  -moz-column-gap:0px;
  -webkit-column-gap:0px;
  column-gap:0px;
}

.dropdown > .dropdown-menu > li > a.nav-link, .dropdown > .dropdown-menu > .dropdown-submenu a.nav-link  {
  line-height:45px;
  font-size:14px;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  padding-top:0px;
  padding-bottom:0px;
  color:#ffffff !important;
}

.dropdown > .dropdown-menu > li, .dropdown .dropdown-menu .dropdown-submenu .dropdown-menu li {
  background-color:#333333;
  width:200px !important;
}

.dropdown > .dropdown-menu > li:hover, .dropdown .dropdown-menu .dropdown-submenu .dropdown-menu li:hover {
  background-color:#eeb111;
}

.dropdown .dropdown-menu .dropdown-submenu .dropdown-menu {
  position:absolute;
  left:100%;
}

.header-eyecatcher {
  background-color:#f3f3f3;
  height:500px;
  width:100%;
  padding-left:0 !important;
  padding-right:0 !important;
  margin-bottom:30px;
  position:relative;
}

.header-eyecatcher-video {
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  overflow:hidden;
}

.header-eyecatcher-video video {
  position:absolute;
  z-index:0;
  width:100%;
}

.header-eyecatcher-image-default { background-image:url('../images/default_hero.jpg'); }
.header-eyecatcher-image-about { background-image:url('../images/about_hero.jpg'); }
.header-eyecatcher-image-admissions { background-image:url('../images/admissions_hero.jpg'); }
.header-eyecatcher-image-academics { background-image:url('../images/academics_hero.jpg'); }
.header-eyecatcher-image-affordability { background-image:url('../images/affordability_hero.jpg'); }
.header-eyecatcher-image-student-life { background-image:url('../images/student-life_hero.jpg'); }
.header-eyecatcher-image-thresher-success { background-image:url('../images/thresher-success_hero.jpg'); }

.header-eyecatcher-image {
  background-repeat:no-repeat;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.header-eyecatcher-image img { max-width:80%; }
.header-eyecatcher-image > div{ height:100%; }
/* .header-eyecatcher-overlay > div > div { margin:10px 0px; }
.header-eyecatcher-overlay > div > div > h2 {
  background-color:rgba(0, 0, 0, .65);
  color:#ffffff;
  font-family:'Raleway', sans-serif;
  font-weight:700;
  line-height:50px;
  text-align:center;
  margin:0;
  padding:10px 20px !important;
}
.header-eyecatcher-overlay > div > div > a {
  background-color:#eeb111;
  color:#ffffff;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
  padding:15px 25px;
  transition:all .25s;
}
.header-eyecatcher-overlay > div > div > a:hover { background-color:#d69f0f; } */
/* HEADER CSS RULES END */

/* PRE FOOTER & FOOTER CSS RULES START */
.homePreFooter {
  margin-top:0px !important;
  background-color:#ffffff !important;
  text-align:center;
}

.homePreFooter ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.homePreFooter ul li {
  float:left;
  margin:10px 10px;
  color:#333333;
  font-size:20px;
  transition:all .25s;
}

.homePreFooter ul li a { color:inherit; }

.homePreFooter ul li:hover { color:#eeb111; }

.preFooterFull {
  margin-top:30px;
  margin-bottom:0px;
  padding-top:70px;
  padding-bottom:70px;
  background-color:#3A3A3C;
  font-family:'AvenirLTStd-Medium', sans-serif;
  /* font-family:'Raleway', sans-serif;
  font-weight:500; */
  color:#999;
  font-size:14px;
  line-height:26px;
}

.preFooter-emailSubscription input[type="text"] {
  font-family:'Roboto', sans-serif;
  font-weight:300;
  text-indent:20px;
  color:#777777;
  font-size:14px !important;
  line-height:26px !important;
  height:52px;
  border:0 none;
  background-color:#313133;
  width:100%;
}

.preFooter-emailSubscription label, .preFooter-recentNews h3, .preFooter-aboutBethel h3, .preFooter-importantLinks h3 {
  color:#f2f2f2;
  font-size:16px;
  font-weight:600;
}

.preFooter-importantLinks ul {
  color:#999999;
}

.preFooter-importantLinks ul li:not(:last-child) {
  border-bottom:1px solid #575758;
}

.preFooter-importantLinks ul li a {
  color:#777777;
  text-decoration:none;
  transition:all .25s;
}

.preFooter-importantLinks ul li a:hover {
  color:#eeb111;
  padding-left:5px;
}

.footerFull {
  background-color:#222222;
  border-top:1px solid #303030;
  padding:42px 0;
  text-transform:uppercase;
}

.footerFull p { margin-bottom:0; }

.footer-copyright, .footer-titleix {
  font-family:'Roboto', sans-serif;
  font-weight:300;
  color:#777777;
  font-size:14px;
  line-height:26px;
}

.footer-copyright a, .footer-titleix a {
  color:#eeb111;
  font-weight:500;
}

.footer-copyright a:hover, .footer-titleix a:hover { color:#eeb111; }
/* PRE FOOTER & FOOTER CSS RULES END */

/* BLOCK CSS START */
.postHeader-pageTitle > h1 > span, .postHeader-pageTitle > h1 {
  font-size:30px !important;
  font-family:'Roboto', sans-serif !important;
  font-weight:300 !important;
  color:#333333;
}

.postHeader-breadcrumbs > nav > ol {
  padding:0;
  margin:0;
  list-style-type:none;
}

.postHeader-breadcrumbs > nav > ol > li {
  float:left;
  color:#eeb111;
  font-family:'Roboto', sans-serif;
  font-weight:300;
  font-size:14px;
}

.postHeader-breadcrumbs > nav > ol > li a {
  color:#777777;
  transition:all .25s;
}

.postHeader-breadcrumbs > nav > ol > li a:hover {
  color:#eeb111;
  text-decoration:none;
}

.postHeader-breadcrumbs > nav > ol > li:not(:last-child)::after {
  color:#777777 !important;
  content:"\00a0/";
}

.postHeader-breadcrumbs > nav > ol > li:not(:first-child)::before {
  color:#777777 !important;
  content:"\00a0";
}

@media (max-width: 991px) {
  .row .postHeader-breadcrumbs, .postHeader-basicPageBanner, .postHeader-basicPageBannerTriangle {
    display:none !important;
  }

  .header-eyecatcher-overlay > div > div > h2 {
    padding:10px 0px;
  }
}

.menu-local-tasks-list {
  list-style-type:none;
  padding:0;
  width:100%;
}

.menu-local-tasks-list > li {
  float:left;
  padding:5px 15px;
  background-color:#eeb111;
  color:#ffffff;
  transition:all .25s;
}

.menu-local-tasks-list > li a {
  color:#ffffff !important;
}

.menu-local-tasks-list > li:hover {
  background-color:#333333;
}

.menu-local-tasks-list > li > a {
  color:inherit;
  text-decoration:none;
}

.menu-local-tasks-list > li:not(:last-child) { border-right:3px solid #ffffff; }

.mainContentBlock {
  font-family:'Roboto', sans-serif !important;
  font-weight:300 !important;
  color:#777777;
  padding:0 !important;
}

.mainContentBlock p, .mainContentBlock h1, .mainContentBlock h2,
.mainContentBlock h3, .mainContentBlock h4, .mainContentBlock h5,
.mainContentBlock h6 {
  padding-left:15px;
  padding-right:15px;
}

.articleOrPageContent a {
  color:#3c8e96 !important;
}

.articleNewsBanner img {
  max-width:600px;
  height:auto;
  margin-bottom:10px;
}

.rightSidebar-hook nav, .rightSidebar-hook .innerStudentSteps {
  background-color:#F6F5F5;
}

.rightSidebar-hook nav ul {
  list-style-type:none;
  padding:5px 15px;
}

.rightSidebar-hook nav ul li {
  color:#777777;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-size:1.05em;
  padding:3px 0px;
}

.rightSidebar-hook nav ul li a {
  color:inherit;
  text-decoration:none;
}

.rightSidebar-hook nav ul li a::before {
  content:'>';
  margin-right:10px;
}

.rightSidebar-hook .innerStudentSteps a {
  margin:10px;
  color:#eeb111;
  font-size:26px;
  line-height:26px;
  text-align:center;
  vertical-align:center;
  background-color:#FDF7E5;
  border:1px solid #ffffff;
  width:50px;
  height:50px;
  border-radius:36px;
  padding:15px;
  display:inline-block;
  transition:all .5s;
}

.rightSidebar-hook .innerStudentSteps a:hover {
  background-color:#f6f5f5;
  border-color:#eeb111;
  text-decoration:none;
}

.adminTasks-hook {
  background-color:#ffffff;
  padding:10px 0px;
}

.articleOrPageContent {
  background-color:#f6f5f5;
}

.postHeader-basicPageBanner {
  background-color:#528B94;
}

.postHeader-basicPageBanner h2 {
  color:#ffffff;
  font-family:'AvenirLTStd-Medium', sans-serif;
  text-transform:uppercase;
  padding:20px;
  padding-top:23px;
  margin:0;
  vertical-align:center;
  line-height:32px;
}

.postHeader-basicPageBannerTriangle {
  width:0;
  height:0;
  border-top:75px solid #528B94;
  border-right:75px solid transparent;
}

.rightSidebar-hook > div:nth-child(3) {
  border:2px solid #9A964C;
  padding:5px;
}

.rightSidebar-hook > div:nth-child(3) p {
  color:#777777;
  margin:10px;
}

.articleOrPageVideo {
  width:100%;
  background-color:#7E2B35;
  border-top:20px solid #ffffff;
  border-bottom:20px solid #ffffff;
  padding:30px 0px;
}
/* BLOCK CSS END */
